$primary-color: #e74c3c;
$secondary-color: #8e44ad;
$warning-color: #f1c40f;

$font-primary: 'Times New Roman', serif;
$font-secondary: Verdana, sans-serif;

$border-radius: 20px;
$box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
